
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.button {
    background-color: white;
    border-radius: 100px;
    border: none;
    color: black;
    padding: 15px 20px;
    font-weight: 600;
}

.button-small {
    background-color: white;
    border-radius: 40px;
    border: white solid 1px;
    color: black;
    padding: 5px 10px;
    font-weight: 600;
}

/* header */

header {
    background-color: #3161E0;
    padding-top: 20px;
}

header div .row {
    display: flex;
    justify-content: space-between;
}

.column-logo, .column-login {
    width: 25%;
}

.column-login {
    text-align: end;
}

.column-link {
    width: 50%;
    text-align: center;
}

.column-link nav li {
    display: inline
}

.column-link a {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

/* fine header */


/* inizio primo layout */
.column-pink {
    background-image: url(../img/jumbo.png);
    background-size:cover;
    height: 400px;
    margin: 0 45px;
}

.column-pink h1 {
    color: white;
    font-size: 3em;
    text-align: center;
    padding-top: 20px;
}

.column-pink p {
    color: white;
    text-align: center;
    padding: 30px 250px 5px 250px;
}

.column-pink a {
   margin-right: 20px;
}

.background-blu {
    height: 400px;
    background-color: #3161E0;;
    background-size:contain;
    padding-top: 50px;
}

.column-pink a:last-child{
    background-color: black;
    color: white;
}

.column-pink i{
   color: black;
   padding-right: 5px;
}
/* fine primo layout */


/* inizio secondo layout */
.background-white {
    height: 500px;
    background-color:#ffffff;
    padding-top: 50px;
}

.my-row1 {
    display: flex;
}
/* fine secondo layout */

.column-blu{
    width: 60%;
}

.item1 {
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50%;
    width: 60%;
}

.column-pelle {
    /* background-color: #ffc0cb; */
    height:400px;
    width: 40%;
}

.descrizione1 h2 {
    font-size: 2em;
    padding-right: 230px;
    padding-top: 50px;
}

.descrizione1 p {
    padding-right: 230px;
    padding-top: 15px;
    color: black;
    font-size: 0.8em;
}

/* inizio terzo layout */
.my-row2 {
    display: flex;
    flex-direction: row-reverse;
}

.background-grey {
    height: 500px;
    background-color:#d3d3d3;
    padding: 50px 0;
}

.item2 {
    background-image: url(../img/item2.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50%;
    width: 60%;
}

.descrizione2 h2 {
    font-size: 2em;
    padding-left: 230px;
    padding-top: 50px;
}

.descrizione2 p {
    padding-left: 230px;
    padding-top: 15px;
    color: black;
    font-size: 0.8em;
}
/* fine terzo layout */

/* quarto layout identico al secondo */

.item3 {
    background-image: url(../img/item3.svg);
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50%;
    width: 60%;
}

.descrizione3 h2 {
    font-size: 2em;
    padding-right: 230px;
    padding-top: 50px;
}

.descrizione3 p {
    padding-right: 230px;
    padding-top: 15px;
    color: black;
    font-size: 0.8em;
}

/* quinto layout */
.background-grey2 {
    height: 900px;
    background-color:#d3d3d3;
    padding: 50px 0;
}

.column-verde {
    height: 700px;
}

.column-verde p {
    text-align: center;
    padding-top: 20px;
}

.column-verde h2{
    font-size: 2em;
    padding-top: 20px;
    text-align: center;
}

.column-verde p {
    padding-left: 200px;
    padding-right: 200px;
}

.column-verde img {
    padding-left: 170px;
} 

.column-verde h3 {
    text-align: center;
} 

.column-verde a {
    background-color: #7983f5;
    color: white;
}

.column-verde i {
    margin-right: 15px;
}
/* sesto layout */
.my-row4{
    display: flex;
    padding-top: 60px;
}

.background-black {
    background-color: #23272a;
    height: 600px;
    padding-top: 5px;
}

.column-rosa2 {
    height: 400px;
    width:40%;
}
.column-acqua {
    height: 400px;
    width:60%;
}

.my-row5 {
    display: flex;
}

.column-acqua-interni {
    height: 400px;
    width: 25%;
}

hr {
    margin-bottom: 30px;
}

.column-rosa2 h3{
    color: #7983f5;
    font-size: 2em;
    padding-right: 110px;
    padding-bottom: 15px;
}

.column-rosa2 img{
    width: 20px;
    height: 10px;
}

.column-rosa2 span, i {
color: white;
}

.column-rosa2 i {
    font-size: 1em;
    padding-left: 2px;
    margin-right: 10px;
    margin-top: 10px;
}

.column-acqua-interni h4 {
    color: #7983f5;
}

.column-acqua-interni li {
    color: white;
    padding-top: 10px;
    font-size: 0.8em;
}

/* footer */

footer {
    background-color: #23272a;
}

.row-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.footer-bottone >* {
    background-color:#7983f5;
    color: white;
}

footer > *{
    padding-bottom: 80px;
}

/* Debug

div .container > *,
div .row > * 
{
    border: dashed 1px;
}

div .my-row1 > * {
    border: dashed 1px;
}


div .my-row2 > * {
    border: dashed 1px;
} */


